



  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@400;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  /* background: #FFF; */
  font-family: 'Inter', sans-serif;
  font-family: 'Mulish', sans-serif;
}
.main-contain{
  max-width: 1170px;
  margin: 0 auto;
  border: 1px solid red;
}
.title{
  display: flex;
  align-items: center;
  color: #131318;
  font-size: 2rem;
  font-weight: 800;

  
}
span.title-color{
  color: #FF5400;
}
.title>img{
  margin-right: 20px;
}
.title-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  height: 50px;
  color: #424247;
  font-size: 18px;
  font-weight: 400;


}
.nav>ul{
  display: flex;
  justify-content: space-between;
  gap: 44px;
}
.nav>ul>li{
  list-style: none;
  }
.nav>ul>li>a{
    text-decoration: none;
}
.nav>ul>li>a.active{
  color: #FF5400;
}
.nav>ul>li>a:hover{
  color: #FF5400;
}
/* popular Section */
.popular-tour{
  height: 550px;
  display:flex;
  justify-content: space-between;
  margin: 74px auto;
  gap: 30px;

}
.popular-description{
  max-width: 600px;
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;

  font-weight: 400;
  line-height: 26px; /* 162.5% */

}
.poular-description-title{
      color: #131318;

   
    font-family: "Mulish";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 24px;
    
}
.top-popular-description{
  margin-bottom: 24px;
}
ul.ul-popular {
  margin-left: 25px;
  width: 548px;
}
li.ul-midel{
 
  margin: 24px 0px;
}
.bottom-popular-description{
  margin: 24px 0px;
}

.popular-image{
  max-width: 540px;
  object-fit: contain;
}
button.btn.btn-primary{
  color: #FFF;

 
  font-family: "Mulish";
  font-size: 20px;
  border: 0px;
  font-weight: 800;
  padding: 13px 35px;
  border-radius: 8px;
background: #FF5400;
  

}
/* end popular section */
/* start destination */
.destination{
  margin-bottom: 100px;
}
.destination-info{
  max-width: 643px;
  margin: 0 auto;
  text-align: center;
}
h3.destination-title-c{
  color: #131318;
  font-family: "Mulish";
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 24px;
}
p.destination-description{
  color: rgba(19, 19, 24, 0.70);


font-family: 'Mulish';
font-size: 1rem;

font-weight: 400;
line-height: 20px; /* 162.5% */
margin-bottom: 48px;
}
.destination-infoma{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.destination-img-title{
  
  border: 1px solid red;
  position: relative;
  display: inline-block;
  
}




.destination-img-title img {
  display: block;
  width: 100%;
  height: auto;
}

h3.destination-title {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #FFF;

  font-family: "Mulish";
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
 
 
   
  text-align: center;


}
.destinaation-gap{
  margin-top:24px;
  margin-bottom: 24px;
}








/* end destination */
/* footer */
footer{
  height: 500px;
  background: rgba(19, 19, 24, 0.05);
}
.footer-contain{
  
  max-width: 770px;
  max-height: 282px;
  /* border: 2px solid #FF5400; */
  text-align: center;
  padding-top: 110px;
}
.footer{

    display: flex;
    align-items: center;
    gap: 15px;
    width: 191px;
    /* margin: 0; */
    /* border: 1px solid; */
    margin: 0 auto;
}
.footer-description{
  color: #5A5A5D;

text-align: center;

font-size: 1rem;
margin-top: 15px;
margin-bottom: 33px;
font-weight: 400;
line-height: 20px; /* 162.5% */
}
.divider{
  margin: 50px auto;
  background: rgba(19, 19, 24, 0.05);
}
a.social-image {
  margin-right: 10px;
}
.copy{
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* ending footer */